.colorBackground{
    background-color: lavender;
    
}



.fontColorName {
    color:blue;
    text-align: left;
    margin-left: 30%;
    font-family: inherit;
   
}

 .paraClass{
    font-size: 20%;
    text-align: left;
    
    
}

.belowcard{
    background-color: lavender;
}

.mainContainer{
    /* margin-top: 10%;
    margin-bottom: 5%; */
    background-color: lavender;
}

.mainContent1{
    margin-top: 18%;
}

.mainContent{
    margin-top: 15%;
}

.box1 {
    width: 30%;
    height: 4%;
    border: 1px solid rgb(15, 15, 15);
    padding-left: 30px;

  }

  .box2 {
    width: 30%;
    height: 4%;
    border: 1px solid rgb(15, 15, 15);
    padding-left: 30px;

  }

  .box3 {
    width: 30%;
    height: 4%;
    border: 1px solid rgb(15, 15, 15);
    padding-left: 30px;
    
    
  }

  .moveleftGender{
      margin-left: 35%;

  }

/* h1{
    color: blue;
    font-size: 375%;
    
}

p{
    font-size: 200%;
}

.grid-container{
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 20%;
    grid-template-columns: 500px 500px;
    display: grid;
    align-self: center;
    column-gap: 50px;
}   

.grid-item1{
    background-origin: padding-box;
}

.grid-item2{
    background-color: white;
}

.card-footer{
    align-content: center;
} */