.container1{
    text-align: center;
    font-family: fantasy;
    font-weight: bold;
    margin: 5%;
  
}

.container2{
margin-top: 5%;


}

.paraclass{
    text-align: center;
    font-family: fantasy;
    
}

.footer{
    margin-top: 5%;
    

}

.footerpara.{
   flex-wrap: wrap;
   padding: 10;
   
}